chromadb
connect-markdown-renderer
jupyter
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langgraph
python-dotenv
tavily-python
transformers
tiktoken
matplotlib
networkx
